@model Student
@{
    ViewData["Title"] = "Student Information";
}

<h2>@ViewData["Title"]</h2>
<hr />
<div class="row">
    <br>
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">Information.</div>
            <div class="panel-body">


                    <div class="form-group">
                        <label asp-for="RollNo"></label>
                        <input asp-for="RollNo" class="form-control" value="@Model.RollNo" readonly />
                    </div>

                    <div class="form-group">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" class="form-control" value="@Model.Name" readonly/>
                    
                    </div>

                    <div class="form-group">
                        <label asp-for="BirthDate"></label>
                        <input asp-for="BirthDate" class="form-control" readonly />
                        
                    </div>

                    <div class="form-group">
                        <label asp-for="FathersName"></label>
                        <input asp-for="FathersName" class="form-control" value="@Model.FathersName" readonly />
                        
                    </div>

                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" value="@Model.Email"  readonly/>
                       
                    </div>

                    <div class="form-group">
                        <label asp-for="Phone"></label>
                        <input asp-for="Phone" class="form-control" value="@Model.Phone" readonly />
                        
                    </div>

                    <div class="form-group">
                        <label asp-for="Address"></label>
                        <input asp-for="Address" class="form-control" value="@Model.Address" readonly />
                    
                    </div>

                    <div class="form-group">
                        <label asp-for="EduQualification"></label>
                        <input asp-for="EduQualification" class="form-control" value="@Model.EduQualification" readonly />
                    </div>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
